html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #484848;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  /* overflow-y: scroll; */
}
