.filters {
  color: #fff;
  height: 70px;
  width: 100%;
  /* margin: auto; */
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  height: 48px;
  width: 20%;
  border: none;
  outline: none;
  margin: 0 30px 0 auto;
  border-radius: 4px;
  color: #fff;
}

.filters button:hover {
  cursor: pointer;
  opacity: 0.9;
}